body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #cfe3e7;
    overflow-x: hidden;
    height: 4048px;
    transition: background-color 0.8s ease;
}
*before, *after{
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1330px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}
/*nav menu*/
.menu{
    text-align: right;
    margin-top: 30px;
}
.menu-item{
    display: inline-block;
    color: #333333;
    font-family: Arial;
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
}
.menu-item:hover{
    text-decoration: underline;
}
.icon{
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer;
}
.icon span{
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #333333;
    border-radius: 9px;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}
.icon span:nth-child(1){
    top: 0px;
 }
.icon span:nth-child(2), .icon span:nth-child(3){
    top: 13px;
}
.icon span:nth-child(4){
    top: 26px;
}
@media screen and (max-width: 991px){
    .icon {
        display: inline-block;
    }
    .links{
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        left: 0;
        margin-top: 85px;
        background-color: rgba(0,0,0, .8);
        z-index: 100;
        overflow: auto;
        opacity: 0;
    }
    .menu-item{
        display: block;
        padding: 10px 0;
        text-align: center;
        color: #ffffff;
    }
}
.menu.menu-open .icon span:nth-child(1){
    top: 18px;
    width: 0%;
    left: 50%;
}
.menu.menu-open .icon span:nth-child(2){
   transform: rotate(45deg);
}
.menu.menu-open .icon span:nth-child(3){
    transform: rotate(-45deg);
}
.menu.menu-open .icon span:nth-child(4){
    top: 18px;
    width: 0%;
    left: 50%;
}
.menu.menu-open .links{
    opacity: 1;
}

/*menu with flex*/
#burg a{
    display: block;
    width: 70px;
}
#burg{
    width: 98%;
    background: #232323;
    padding: 7.5px 0 7.5px 2%;
    z-index: 999;
}
span{
    display: flex;
    margin: 8px;
    height: 1px;
    width: 30px;
    background-color: #c3c3c3;
    z-index: 20;
}
#desktop{
    display: none;
}
.mobile-tab{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #232323;
}
.mobile-tab a{
    font-size: 1.3em;
    color: #c3c3c3;
    text-decoration: none;
    font-weight: lighter;
    letter-spacing: 1px;
}
.mobile-tab li{
    list-style-type: none;
    margin: 5% 5%;
}
.mobile-tab ul{
    padding: 5% 0;
}

@media(min-width: 768px){
    .mobile-tab,#burg,#mobile{
        display: none;
    }
    .bar{
        background: #232323;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
    }
    .mobile-bar{
        display: none;
    }
    #desktop{
        display: flex;
    }
    a{
        text-decoration: none;
        color: #c3c3c3;
        margin: 0;
    }
    ul{
        display: inline-flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li{
        color: #ffffff;
        cursor: pointer;
        font-weight: lighter;
        background: #232323;
        padding: 20px 20px;
        text-align: center;
        width: 70px;
        letter-spacing: 1px;
        transition: all 0.4s ease-in-out;
    }
    li:hover{
        background: #ffffff;
        opacity: 0.8;
        box-shadow: inset 1px 1px 5px grey;
    }
    li:hover a{
        color: #2b2b2b;
    }
}
/*slider*/
.slider__block{
    margin-top: 50px;
    display: flex;
}
.slider{
    width: 500px;
    height: 300px;
    margin: 100px auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}
.img{
    text-align: center;
    line-height: 300px;
    position: absolute;
    font-size: 50px;
    color: #ffffff;
    display: none;
}
.img.curry{
    display: block;
}
.img:first-child{
    width: 500px;
    background: #ca0f1f;
}
.img:nth-child(2){
    width: 500px;
    background: #0add75;
}
.img:nth-child(3){
    width: 500px;
    background: #0ab6dd;
}
.img:nth-child(4){
    width: 500px;
    background: #fd7edd;
}
.img:nth-child(5){
    width: 500px;
    background: #bfbfbf;
}
.n{
    color: #575757;
}
.prev a{
    text-decoration: none;
    color: #fd7ead;
    font-size: 20px;
}
.prev a:hover{
    color: #0ab6dd;
}
.next a{
    text-decoration: none;
    color: #fd7ead;
    font-size: 20px;
}
.next a:hover{
    color: #0ab6dd;
}
.prev{
    position: relative;
    top: 240px;
    left: 350px;
}
.next{
    position: relative;
    top: 240px;
    right: 350px;
}
/*back to top*/
.btn-top{
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #2ecc71;
    color: #ffffff;
    cursor: pointer;
    padding: 15px 40px;
    border-radius: 10px;
}
.btn-top:hover{
    background-color: #27ae60;
}
/*counter numbers*/
.counter__number{
    text-align: center;
    color: #808080;
    background-color: #f5f5f5;
    padding: 25px;
    height: 280px;
}
.col-fourth{
    width: 23.3%;
}
.col-fourth{
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
}
.end{
    margin-right: 0!important;
}
.wraper{
    width: 100%;
    margin: 30px auto;
    position: relative;
}
.counter{
    background: #ffffff;
    padding: 20px 0;
    border-radius: 5px;
}
.count-text{
    font-size: 25px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}
.fa-2x{
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}
/*to do aplication*/
.to__do-wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
    background-color: #f0f0ff;
    font-family: Arial;
    margin-top: 50px;
}

.to_do-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 70%;
    background-color: #fafafa;
    padding: 0px;
    box-shadow: 0 20px 30px 0 rgba(1, 1, 1, 0.07);
    margin: 6rem 0;
    border-radius: 0.75rem;
}

#footer {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 1.5rem;
    align-self: flex-start;
    text-transform: uppercase;
    box-shadow: 0 -10px 10px 0 rgba(1, 1, 1, 0.05);
}
#footer #taskAdd {
    transition: all 0.3s ease-in-out;
    width: 3rem;
    height: 3rem;
    background: #3b44fb;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    border-radius: 0.75rem;
    border: 0;
    outline: 0;
    will-change: transform;
}
#footer #taskAdd:hover {
    background: #050fe5;
    transform: scale(0.95);
}
#footer #taskAdd:active {
    transform: scale(0.9);
}
#footer input#taskInput {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    background: transparent;
    width: calc(100% - 3rem - 5px);
    border: none;
}
#footer input#taskInput:focus {
    outline: 0;
    border-color: white;
    color: #0d0d0d;
}

#tasks {
    padding: 1.5rem 2rem;
}
#tasks #tasksList {
    list-style-type: none;
    padding-left: 0;

    width: 100%;
    display: flex;
    flex-direction: column;
}
#tasks #tasksList li {
    transition: all 0.3s ease-in-out;
    box-shadow: 0 20px 30px 0 rgba(1, 1, 1, 0.07);
    border-radius: 0.75rem;
    color: #0d0d0d;
    padding: 1.25rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .03rem;
    animation: fadeIn .5s linear;
    background-color: #fff;
    position: relative;
    border-right: 0px solid lightgray;
    letter-spacing: -.015rem;
    will-change: transform;
    width: 70%;
    margin: 5px auto;
}
#tasks #tasksList li:hover {
    border-right: 55px solid red;
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
    z-index: 20;
    box-shadow: 0 20px 30px 0 rgba(1, 1, 1, 0.2);
}
#tasks #tasksList li:hover .delete {
    right: -37px;
    color: white;
}
#tasks #tasksList li .delete {
    transition: all 0.30s ease-in-out;
    position: absolute;
    color: transparent;
    background: none;
    border: none;
    outline: 0;
    line-height: .85rem;
    font-size: 1rem;
}
#tasks #tasksList li .delete:hover {
    opacity: .75;
}
#tasks #notification {
    padding-top: 1rem;
    text-align: center;
    color: gray;
    font-weight: 500;
    font-size: 1.25rem;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        margin-top: -50px;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        margin-top: 0px;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        margin-top: -50px;
    }
}
/*skillbar*/
.skillbar__wraper{
    margin-top: 50px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.skillbar{
    position: relative;
    display: block;
    margin-bottom: 30px;
    width: 100%;
    background: #eeeeee;
    height: 50px;
    border-radius: 3px;
    transition: 0.4s linear;
    transition-property: width, background-color;
}
.skillbar-title{
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 9px;
    color: #ffffff;
    background: #6adcfa;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.skillbar-title span{
    display: block;
    background: rgba(0,0,0 0.1);
    padding: 0 20px;
    height: 34px;
    line-height: 35px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.skillbar-bar{
    height: 50px;
    width: 0;
    background: #6adcfa;
    border-radius: 3px;
}
.skill-bar-percent{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 11px;
    height: 50px;
    line-height: 50px;
    color: #444;
    color: rgba(0,0,0 0.4);
}
/*acardeon*/
.acardeon__wraper{
    margin: 50px auto 0;
}
.acardeon{
    display: block;
    list-style-type: none;
    border-top: 1px solid #0d0d0d;
    border-left: 1px solid #0d0d0d;
    border-right: 1px solid #0d0d0d;
    margin: 0.5rem 0 1rem 0;
    padding-left: 0;
    width: 100%;
}
.acardeon__content{
    color: inherit;
    cursor: inherit;
    font-weight: inherit;
    background: transparent;
    padding: 0;
    text-align: inherit;
    width: inherit;
    letter-spacing: inherit;
    transition: none;
}
.acardeon__header{
    background-color: #ffffff;
    border-bottom: 1px solid #0d0d0d;
    cursor: pointer;
    min-height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
}
.acardeon__header:after{
    content: "\02795";
    font-size: 0.8rem;
    color: #777777;
    float: right;
}
.acardeon__header.active:after{
    content: "\02796";
}
.acardeon__body{
    display: none;
    padding: 1rem;
    border-bottom: 1px solid #0ab6dd;
}
/*scrolly bg collor*/
.main-wraper{
    transition: background-color 0.2s ease;
    background: transparent;
}
.slide .inside{
    width: 100%;
    height: 100vh;
    padding: 0 3em;
}