body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #cfe3e7;
    overflow-x: hidden;
    height: 2048px;
}
*before, *after{
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1330px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}
/*nav menu*/
.menu{
    text-align: right;
    margin-top: 30px;
}
.menu-item{
    display: inline-block;
    color: #333333;
    font-family: Arial;
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
}
.menu-item:hover{
    text-decoration: underline;
}
.icon{
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer;
}
.icon span{
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #333333;
    border-radius: 9px;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}
.icon span:nth-child(1){
    top: 0px;
 }
.icon span:nth-child(2), .icon span:nth-child(3){
    top: 13px;
}
.icon span:nth-child(4){
    top: 26px;
}
@media screen and (max-width: 991px){
    .icon {
        display: inline-block;
    }
    .links{
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        left: 0;
        margin-top: 85px;
        background-color: rgba(0,0,0, .8);
        z-index: 100;
        overflow: auto;
        opacity: 0;
    }
    .menu-item{
        display: block;
        padding: 10px 0;
        text-align: center;
        color: #ffffff;
    }
}
.menu.menu-open .icon span:nth-child(1){
    top: 18px;
    width: 0%;
    left: 50%;
}
.menu.menu-open .icon span:nth-child(2){
   transform: rotate(45deg);
}
.menu.menu-open .icon span:nth-child(3){
    transform: rotate(-45deg);
}
.menu.menu-open .icon span:nth-child(4){
    top: 18px;
    width: 0%;
    left: 50%;
}
.menu.menu-open .links{
    opacity: 1;
}

/*menu with flex*/
#burg a{
    display: block;
    width: 70px;
}
#burg{
    width: 98%;
    background: #232323;
    padding: 7.5px 0 7.5px 2%;
    z-index: 999;
}
span{
    display: flex;
    margin: 8px;
    height: 1px;
    width: 30px;
    background-color: #c3c3c3;
    z-index: 20;
}
#desktop{
    display: none;
}
.mobile-tab{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #232323;
}
.mobile-tab a{
    font-size: 1.3em;
    color: #c3c3c3;
    text-decoration: none;
    font-weight: lighter;
    letter-spacing: 1px;
}
.mobile-tab li{
    list-style-type: none;
    margin: 5% 5%;
}
.mobile-tab ul{
    padding: 5% 0;
}

@media(min-width: 768px){
    .mobile-tab,#burg,#mobile{
        display: none;
    }
    .bar{
        background: #232323;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
    }
    .mobile-bar{
        display: none;
    }
    #desktop{
        display: flex;
    }
    a{
        text-decoration: none;
        color: #c3c3c3;
        margin: 0;
    }
    ul{
        display: inline-flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li{
        color: #ffffff;
        cursor: pointer;
        font-weight: lighter;
        background: #232323;
        padding: 20px 20px;
        text-align: center;
        width: 70px;
        letter-spacing: 1px;
        transition: all 0.4s ease-in-out;
    }
    li:hover{
        background: #ffffff;
        opacity: 0.8;
        box-shadow: inset 1px 1px 5px grey;
    }
    li:hover a{
        color: #2b2b2b;
    }
}
/*slider*/
.slider__block{
    margin-top: 50px;
    display: flex;
}
.slider{
    width: 500px;
    height: 300px;
    margin: 100px auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}
.img{
    text-align: center;
    line-height: 300px;
    position: absolute;
    font-size: 50px;
    color: #ffffff;
    display: none;
}
.img.curry{
    display: block;
}
.img:first-child{
    width: 500px;
    background: #ca0f1f;
}
.img:nth-child(2){
    width: 500px;
    background: #0add75;
}
.img:nth-child(3){
    width: 500px;
    background: #0ab6dd;
}
.img:nth-child(4){
    width: 500px;
    background: #fd7edd;
}
.img:nth-child(5){
    width: 500px;
    background: #bfbfbf;
}
.n{
    color: #575757;
}
.prev a{
    text-decoration: none;
    color: #fd7ead;
    font-size: 20px;
}
.prev a:hover{
    color: #0ab6dd;
}
.next a{
    text-decoration: none;
    color: #fd7ead;
    font-size: 20px;
}
.next a:hover{
    color: #0ab6dd;
}
.prev{
    position: relative;
    top: 240px;
    left: 350px;
}
.next{
    position: relative;
    top: 240px;
    right: 350px;
}
/*back to top*/
.btn-top{
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #2ecc71;
    color: #ffffff;
    cursor: pointer;
    padding: 15px 40px;
    border-radius: 10px;
}
.btn-top:hover{
    background-color: #27ae60;
}